@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.invisible-overlay {
    position: relative;
}
.invisible-overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

a, button {
    transition: all ease-out 300ms;
}

@keyframes fadeDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0px); }
}
.fadeDown {
    opacity: 0;
    animation: fadeDown 500ms ease-in forwards;
}
.cont {
    @apply max-w-screen-2xl mx-auto px-3 sm:px-4 md:px-5;
}